b.cBold
{
  font-weight: bold
}
em.cBoldItalics
{
  font-weight: bold;
  font-style: italic
}
code.cCode
{
  font-family: Courier New, Courier, mono
}
code.cCodeBold
{
  font-family: Courier New, Courier, mono;
  font-weight: bold
}
em.cEmphasis
{
  font-style: italic
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
u.cUnderline
{
  text-decoration: underline
}

p.pBody
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 0em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pBodyKeyConcept
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.2em;
	margin-bottom: 0.5em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0.5em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none;
	border-bottom : thin solid Blue;
	border-top : thin solid Blue;
	border-left : White;
	border-right : White;
}
p.pBodyNote
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 4%;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 4%;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none;
	border-bottom : thin solid Black;
	border-top : thin solid Black;
	border-left : White;
	border-right : White;
}
p.pBodyRelative
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pBodyWarning
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 4%;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 4%;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none;
	border-bottom : thin solid Red;
	border-top : thin solid Red;
	border-left : White;
	border-right : White;
}
div.pCellBody
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 0.5em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-top: 0.6em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none;
	vertical-align: top;
}
div.pCellBodyCenter
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 0.5em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-top: 0.6em;
	text-align: center;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none;
	vertical-align: top
}
div.pCellBodyBold
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-top: 0.6em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none;
	vertical-align: top;
}
div.pCellBodyBullet
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 0.5em;
	margin-left: 0em;
	margin-right: 0.2em;
	margin-top: 0.6em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none;
	vertical-align : top;
}
div.pCellHeading
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	text-align: center;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pDropDownClosed
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pDropDownOpen
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pEndTbl
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bolder;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pFigCaption
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-bottom: 1em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
h2.pHeading1
{
	color: #063277;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
h2.pHeading2
{
	color: #063277;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
h3.pHeading3
{
	color: #063277;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
h4.pHeading4
{
	color: #063277;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
h5.pHeading5
{
	color: #063277;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
h6.pHeading6
{
	color: #063277;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pIndented1
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 2.5em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pIndented2
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 5em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pIndented3
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 7.5em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pIndented4
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 10em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pIndented5
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 12.5em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pIndentedNote
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 2.5em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pIndentedWarning
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-left: 2.5em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
p.pIndentedRelative
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 2.5em;
	margin-right: 0em;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pNumList1
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pNumList2
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pPopup
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupAppend
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupOnly
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupOnlyAppend
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformatted
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformattedRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pProcEnd
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pprocstepSub
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
blockquote.pQuotation
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopic
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopicOnly
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSeeAlso
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList1
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pSmartList2
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pSmartList2Test
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pSmartList3
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pSmartList4
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pSmartList5
{
	color: Black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 6pt;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}
div.pTableTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.ptblcaption
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitle
{
  color: #063277;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.ptStepSub_xx
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTutKeyConcept
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 4%;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 4%;
	text-align: left;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none;
	border-bottom : medium solid Gray;
	border-top : medium solid Gray;
	border-left : White;
	border-right : White;
}

